@model IEnumerable<Product>;
@using System.Globalization;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Storefront";
}
<div class="container">
	<h1>@ViewData["Title"]</h1>
    <p class="lead">
        This page represents your storefront. It displays products from your ecommerce system (some stub objects in this sample app). If a product is "connected" to a Customer's Canvas product specification, you will be able to edit it.
    </p>
	@if (Model.Count() == 0) {
		<p class="alert alert-danger">You haven't connected any products. Go to Product → Link and create your first Product Link</p>
	}
	<div class="row">
		@foreach (var product in Model)
		{
			<div class="col-4">
				<img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
				<div class="card">
					<div class="card-body">
						<div class="card-title">
							<h5 class="card-title">@product.Name</h5>
							<p class="card-text">@product.Price.ToString("C", new CultureInfo("en-US", false))</p>
							<a href="@Url.Action("Edit", "Storefront", new { id = product.Id } )" class="btn btn-primary">Open product</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
