@model Product
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
	<script src="~/js/storefront.main.js"></script>

	<script type="module">
		document.addEventListener("DOMContentLoaded", async function (event) {
			const backoffice = new Aurigma.BackOffice({
				tenantId: @ViewBag.TenantId,
				backOfficeUrl: "@ViewBag.BackOfficeUrl",
				pluginSettings: { currency: 'USD' }
			});

			const userInfo = {id: "1234" }; // pass a real user id of your customers here
			
            let useUserInfo = @ViewBag.UseUserInfo.ToString().ToLower();
            if (useUserInfo == true) {
				
				// Here you can predefine design fields with user information
                userInfo.data = {
					"Name": "TestName (predefined in userInfo)",
					"Email": "test@mail.com (predefined in userInfo)",
					"Your Name": "TestName (predefined in userInfo)",
					"Position": "Position (predefined in userInfo)",
					"Phone Number": "000-000-000 (predefined in userInfo)",
					"Your address": "Test address (predefined in userInfo)",
					"Your Email": "test@mail.com (predefined in userInfo)"
				}
			}

			const container = document.getElementById('editor-container');

			const data = await backoffice.templates.findByProduct(@Model.Id);
			await backoffice.loadEditor(container, data, userInfo);

			backoffice.onFinish.subscribe(async (backoffice, project) => {
				// It is supposed that this code is called from a Shopping Cart, but for 
				// simplicity, we do it immediately. As a part of the Project Data you need
				// to send an Order ID which is normally known by the time when you checkout
				// (and complete the order). For this example, we will just hardcode it.
				const orderId = "12345678";

				await fetch("@Url.Action("Create", "Projects")", {
					method: "post",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify({
						items: project.line_items,
						productId: "@Model.Id",
						userId: userInfo.id,
						orderId: orderId,
						ownerId: userInfo.id
					})
				});
				alert("Now the user's modifications are saved in your Customer's Canvas account.");
				window.location = "@Url.Action("Index", "Storefront")";
			});
		});
	</script>
}
<div id="editor-container" style="height:80vh;"></div>
