@model Aurigma.BackOffice.PagedOfTemplateDto;
@*
	Displays a list of templates created in BackOffice.
*@
@{
	ViewData["Title"] = "Product Templates";
}

<div class="container">
	<h1>@ViewData["Title"]</h1>
	<div class="list-group">
		@foreach (var template in Model.Items)
		{
			<a href="@Url.Action("Edit", "ProductTemplates", new { id = template.Id })" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">@template.Name</h5>
					<small>@((template.LastModificationTime ?? template.CreationTime).ToString("ddd d MMM, yyyy"))</small>
				</div>
				<small>@template.ConfigName</small>
			</a>
		}
	</div>
</div>
